{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "eslint"
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "eslint"
    }],
    ["@semantic-release/github", {
      "preset": "eslint",
      "assets": [
        {"path": "dist/lib/ShowdownHDSpriteMod.js", "label": "ShowdownHDSpriteMod"},
        {"path": "dist/lib/ShowdownHDSpriteMod.js.map", "label": "ShowdownHDSpriteMod Map"}
      ]
    }],
    ["@semantic-release/git", {
      "preset": "eslint",
      "assets": ["package.json"],
      "message": "Chore: ${nextRelease.version}\n\n${nextRelease.notes}"
    }]
  ]
}